.new-background-color {
    --background: #e57217;
    --color: #fff;
}

.sc-ion-card-md-h {
    box-shadow: none;
}

.md hydrated {
    top: 20%;
}

.auth {
    --background: #e57217;
}

.register {
    --background: #493632;
}

.title {
    text-align: center;
    font-size: 22px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}