.new-background-color {
    --background: #e57217;
    --color: #fff;
}

.profile {
    font-size: 14px;
}

.register {
    --background: #493632;
    margin-top: 10px;
}

.title {
    font-size: 22px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.description {
    border-bottom: 1px solid #D3D3D3;
    padding: 10px;
}