<ion-header>
    <ion-toolbar  class="new-background-color">
    <ion-title>Счетчики показание</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content>
        <div class="box">
    <ion-button expand="full">Горячей воды № 1</ion-button>
    <ion-button style="margin-top: 15px;" expand="full">Горячей воды № 2</ion-button>
    <ion-button style="margin-top: 15px;" expand="full">Холодной воды №1</ion-button>
    <ion-button style="margin-top: 15px;" expand="full">Холодной воды №2</ion-button>
    <ion-button style="margin-top: 15px;" expand="full">Счетчик электричества</ion-button>
    <ion-button style="margin-top: 15px;" expand="full">Счетчик газа</ion-button>
  </div>
</ion-content>
