.new-background-color {
    --background: #e57217;
    --color: #fff;
}

.title {
    font-size: 22px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.register {
    --background: #493632;
    margin-top: 10px;
}