<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title class="title">Заявка на услугу</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="loginForm">
        <ion-list>
            <ion-item>
                <ion-label position="stacked"></ion-label>
                <ion-select multiple="false" placeholder="Выбрать специалиста" cancelText="Отмена" okText="Выбрать" formControlName="uslugi_id" (ionChange)="calculate()">
                    <ion-select-option [value]="item" *ngFor="let item of ulugii ">
                        {{item.usluginame}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked"></ion-label>
                <ion-select placeholder="Выбрать количество часов" multiple="false" cancelText="Отмена" okText="Выбрать" formControlName="hours" (ionChange)="calculate()">
                    <ion-select-option value="0">Выберите значение</ion-select-option>
                    <ion-select-option value="2">2 часа</ion-select-option>
                    <ion-select-option value="4">4 часа</ion-select-option>
                    <ion-select-option value="6">6 часов</ion-select-option>
                    <ion-select-option value="8">8 часов</ion-select-option>
                    <ion-select-option value="fakt"> по факту выполнения</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked"></ion-label>
                <ion-datetime placeholder="Выбрать дату выполнения" displayFormat="DD/MM/YYYY HH:mm" cancelText="Отмена" doneText="Выбрать" formControlName="data_vyp"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Выберите способ оплаты</ion-label>
                <ion-segment [(ngModel)]="payment" formControlName="payment">
                    <ion-segment-button value="1">
                        <ion-label>Наличкой</ion-label>
                    </ion-segment-button>
                    <ion-segment-button disabled value="2">
                        <ion-label>Картой</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
            <ion-item *ngIf="loginForm.controls.uslugi_id.value.id != 0">
                <ion-label>Стоимость услуги/час: {{loginForm.controls.uslugi_id.value.price_ikon}} руб</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Итого к оплате: {{total}}</ion-label>
            </ion-item>
        </ion-list>
    </form>
    <ion-button class="register" type="submit" expand="block" (click)="save()">Заказать</ion-button>
</ion-content>