<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>
            <ion-icon name="arrow-back" (click)="dismissRegister()"></ion-icon>
            <ion-title class="title">ЁЖЭК</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="loginForm">
        <ion-list>
            <ion-item>
                <ion-input formControlName="phone" placeholder="89000000000" type="number" name="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="lastname" placeholder="Фамилия" type="text" name="lastname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="username" placeholder="Имя" type="text" name="username"></ion-input>
            </ion-item>
            <ngx-dadata formControlName="adress_fakt" [config]="config" (selected)="onAddressSelected($event)"></ngx-dadata>
            <ion-item>
                <ion-input formControlName="numberhouse" placeholder="№ дома" type="text" name="numberhouse"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="kv" placeholder="№ кваритры" type="text" name="kv"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="password" placeholder="Пароль (не менее 6 символов)" type="text" name="password"></ion-input>
            </ion-item>
        </ion-list>
    </form>
    <ion-button (click)="presentAlertMultipleButtons()" (click)="save()" class="register" type="submit" expand="block">Регистрация</ion-button>
</ion-content>