<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>Заявка на доп. услугу</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="top: 30%;">
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full" color="primary">Заказать услугу</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="full" color="danger">Звонок диспечеру</ion-button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>