<ion-header>
    <ion-toolbar  class="new-background-color">
    <ion-title>Мои счетчики</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div class="myshet">
    <ion-list>
          <h5 style="border-bottom: 1px solid #D3D3D3">Счетчик горячей воды №1</h5>
          <p>Серийный номер: 4853498593</p>
          <p>Дата установки: 12.12.2012</p>
          <p>Дата поверки: 12.12.2013</p>
          <p>Дата следущий поверки: 12.12.2013</p>
          <p>Дата замены поверки: 12.12.2013</p>
          <h5 style="border-bottom: 1px solid #D3D3D3">Счетчик холодной воды №1</h5>
          <p>Серийный номер: 4853498593</p>
          <p>Дата установки: 12.12.2012</p>
          <p>Дата поверки: 12.12.2013</p>
          <p>Дата следущий поверки: 12.12.2013</p>
          <p>Дата замены поверки: 12.12.2013</p>
          <h5 style="border-bottom: 1px solid #D3D3D3">Счетчик газа</h5>
          <p>Серийный номер: 4853498593</p>
          <p>Дата установки: 12.12.2012</p>
          <p>Дата поверки: 12.12.2013</p>
          <p>Дата следущий поверки: 12.12.2013</p>
          <p>Дата замены поверки: 12.12.2013</p>
      </ion-list>
      </div>
    <ion-button style="margin-top: 10px;"type="submit" expand="block" color="danger" routerLink="/shet" routerDirection="forward">Добавить счетчик</ion-button>
</ion-content>
